<div>
  <div [className]="'board-row'">
    <app-square [value]="this.squares[0]" (squareClick)="handleSquareClick(0)"></app-square>
    <app-square [value]="this.squares[1]" (squareClick)="handleSquareClick(1)"></app-square>
    <app-square [value]="this.squares[2]" (squareClick)="handleSquareClick(2)"></app-square>
  </div>
  <div [className]="'board-row'">
    <app-square [value]="this.squares[3]" (squareClick)="handleSquareClick(3)"></app-square>
    <app-square [value]="this.squares[4]" (squareClick)="handleSquareClick(4)"></app-square>
    <app-square [value]="this.squares[5]" (squareClick)="handleSquareClick(5)"></app-square>
  </div>
  <div [className]="'board-row'">
    <app-square [value]="this.squares[6]" (squareClick)="handleSquareClick(6)"></app-square>
    <app-square [value]="this.squares[7]" (squareClick)="handleSquareClick(7)"></app-square>
    <app-square [value]="this.squares[8]" (squareClick)="handleSquareClick(8)"></app-square>
  </div>
</div>
