<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">

<dom-module id="p2-first">
  <template>
    <style>
      :host {
        display: inline-block;
      }
      iron-icon {
        fill: rgba(0,0,0,0);
        width: 100px;
        height: 100px;
        stroke: currentColor;
        display: block;
      }
      :host[(pressed)] iron-icon {
        fill: currentColor;
      }
    </style>
    <h2>Hello and Bye [[prop1]]!</h2>
    <iron-icon icon="[[toggleIcon]]"></iron-icon>
  </template>

  <script>
    /**
     * `p2-first`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class P2First extends Polymer.Element {
      static get is() { return 'p2-first'; }
      static get properties() {
        return {
          pressed: {
            type: Boolean,
            notify: true,
            reflectToAttribute: true,
            value: false
          },
          prop1: {
            type: String,
            value: 'p2-first'
          },
          toggleIcon: {
            type: String
          }
        };
      }
    }

    window.customElements.define(P2First.is, P2First);
  </script>
</dom-module>
