<div [className]="'game'">
  <div [className]="'game-board'">
    <app-board [squares]="getCurrentSquares()" (squareClick)="handleSquareClick($event)"></app-board>
  </div>
  <div [className]="'game-info'">
    <div [className]="'status'">{{status}}</div>
    <ol>
      <li *ngFor="let move of moves">
        <button (click)="jumpTo(move.moveIndex)">{{move.description}}</button>
      </li>
    </ol>
    <div *ngIf="isGameOver">
      <button (click)="handleRestart()">Restart Game</button>
    </div>
  </div>
</div>
