<h2>My Heros</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
<ul class="heros">
  <li *ngFor="let hero of heros">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button (click)="delete(hero)" title="delete hero"
      class="delete">x</button>
  </li>
</ul>
