<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} detail: </h2>
  <div>ID: {{ hero.id }}</div>
  <label>Name:
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>
<button (click)="goBack()">Previous page</button>
<button (click)="save()">Save</button>
